[submodule "mediumish-gohugo-theme"]
	path = themes/mediumish-gohugo-theme
	url = https://github.com/lgaida/mediumish-gohugo-theme
[submodule "themes/PaperMod"]
	path = themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
