/* assets/css/custom.css */

.logo {
    display: flex;
    align-items: center;
}

.logo a img {
    height: 60px; 
    width: auto; 
    vertical-align: middle;
    margin-inline-end: 8px;
    border-radius: 6px;
}

body:not(.dark) .header {
    background-color: #ffffff !important; 
    color: #333 !important;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1) !important;
}

body.dark .header {
    background-color: #333 !important;
    color: #ffffffc5 !important;
    box-shadow: 0 2px 5px rgba(255, 255, 255, 0.1) !important;
}

.header {
    position: fixed !important;
    height: 90px;
    display: flex;
    top: 0;
    width: 100%;
    margin: 0 auto;
    z-index: 1000;
    padding: 20px 20px;
    background-image: linear-gradient(to right, #e70be7, #ff6347, #ff4500, #ff8c00, #d0f30c);
    background-size: 100% 5px;
    background-repeat: no-repeat;
    background-position: bottom;
}

body {
    margin-top: 50px;
}

.entry-cover img {
    width: 100%;
    height: auto;
    object-position: top;
    max-height: 200px;
    object-fit: cover;
    border-radius: 8px;
}

.home-info, .post-list {
    margin-bottom: 10px !important;
}

.post-list {
    margin-top: 10px !important;
}

.container, .content-wrapper {
    margin: 0 auto;
    padding: 0;
}